body{
    background: rgb(15,36,0);
    background: linear-gradient(90deg, rgba(15,36,0,1) 0%, rgba(121,9,52,1) 0%, rgba(227,0,255,1) 5%, rgba(182,4,170,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}
.box1{
    font-size:xx-large;
    align-items: center;
    justify-content: center;
    display: flex;
}
.box2{
    font-size:small ;
    align-items: center;
    justify-content: center;
    display: flex;
}
.box3{
    
    padding: 2vw;

}
.box4{
    
    
}
.cha{
    display: flex;
}
.box5{
    width: 20vw;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.container{
    background-color: white;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
}
.box6{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box7{
    background-color: rgb(49, 110, 241);
    color:white;
    width: 60vw;
    
}
a{
    color:black;
    text-decoration: none;
    font-size: large;
}
button[type="submit"]:hover{
    background-color: red;
}